<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Shtoss">

    <test name="UnitTests">
        <classes>
            <class name="net.cheltsov.shtoss.validator.ValidatorTest"/>
            <class name="net.cheltsov.shtoss.dao.sql.SqlInitializerTest"/>
            <class name="net.cheltsov.shtoss.dao.sql.SqlConversationDaoTest"/>
            <class name="net.cheltsov.shtoss.dao.sql.SqlGameDaoTest"/>
            <class name="net.cheltsov.shtoss.dao.sql.SqlNewsDaoTest"/>
            <class name="net.cheltsov.shtoss.dao.sql.SqlPaymentDaoTest"/>
            <class name="net.cheltsov.shtoss.dao.sql.SqlUserDaoTest"/>
            <class name="net.cheltsov.shtoss.database.ConnectionPoolTest"/>
        </classes>
    </test>
</suite>
