.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

table {
    text-align: left;
    width: 100%;
}

.small {
    font-size: 70%;
}
.col1 {
    width: 20%;
    text-align: left;
}
.me {
    background-color: #f2f2f2;
    text-align: right;
}

.another {
    text-align: left;
}
.red {
    color: red;
}
.green {
    color: green;
}

.result-class {
    font-size: 19px;

}
.card-class{
    font-family: Symbola, "DejaVu Sans", "Times New Roman", serif;
    font-size: 69px;
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
    text-align: left;
}

.x1f0b, .x1f0c, .x2661, .x2662 {
    color: red;
}

.x1f0a, .x1f0d, .x2664, .x2667 {
    color: black;
}

.row.content {
    height: 450px
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

